
#mainContent {
  margin-left: 250px; 
  padding: 20px;
  transition: margin-left 0.3s;
}

.sidebar-collapsed #mainContent {
  margin-left: 80px; 
}


.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}
