    body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    }

    .main-content {
    margin-left: 250px;
    padding: 20px;
    }


    #employeeTable_wrapper {
    overflow-x: auto;
    width: 100%;
    }

    table.dataTable {
    width: 100% !important;
    box-sizing: border-box;
    }


    .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
    }

    @media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        padding: 15px;
        }
    }